<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
        
        </div>
    <div class="box">
    <h1 class="head">Expense Tracker Application</h1>
   </div>
</body>
</html>

