*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}


.nav {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
    height: 9%;
    margin-bottom: 14px;
    background-color: crimson;
}


.nav a {
   font-size: 19px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
    text-decoration: none;
    color: white;
}

.head{
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%,-50%);
      text-transform: capitalize;
      color: darkmagenta;
      text-decoration: underline;
     font-size: 30px;
     font-weight: 700;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav2 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
    height: 9%;
    margin-bottom: 14px;
    background-color: crimson;
}

.nav2 a {
   font-size: 19px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
    text-decoration: none;
    color: white;
}

.add{
    min-height: 300px;
    width: 18%;
    background-color: lightcoral;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}


.expense{
     margin: 10px 10px;
      display: flex;
     align-items: center;
     justify-content: center;
}
.exp1 {
    text-align: center;
    margin: 25px 0;
     font-size: 25px;
     font-weight: 600;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: darkblue;
}
.expense input{
    font-size: 16px;
   border: 2px solid black;
   border-radius: 5px;
   /* color: black; */
}

.expense select{
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
}

.expense button{
    font-size: 16px;
    border: 2px solid black;
   border-radius: 5px;
   background-color: lightpink;

   padding: 5px 10px;
   color: black;
   font-weight: 600;
}

.link button{
    font-size: 16px;
    background-color: lightpink;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
   
 }
 .link a{
    text-decoration: none;
 }

 .show button{
    font-size: 14px;
    background-color: lightpink;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
   
 }

 .show button a{
    text-decoration: none;
 }

 .show .one{
    position: absolute;
    top: 29.5%;
    left: 5%;
 }